.boton{
  background-color: var(--colorSecundario);
  color : var(--colorSubtitulosLight);
  border:none;
  font-size: 1.1rem;
}
.boton:hover{
background-color: var(--colorSecundario3);
transition: all .05s;
}