.carritoIcon{
    display: flex;
    align-items:end;
    column-gap: 4px;
    flex-wrap: nowrap;
    padding: var(--spacing-2);
    flex-shrink: 0;
    color: var(--muted-foreground-subtle);
}
.carritoIcon:hover{
    cursor: pointer;
    opacity: .8;
}
.carritoIcon h4{
    align-self:flex-end;
    padding: 4px var(--spacing-3);
    color: var(--success-foreground);
    font-weight: 600;
    background-color: var(--success);
    border-radius: var(--rounded-full);
    border: 3px solid var(--success-border);
    margin-bottom: 0;
}
