
.itemListContainer{
  display: flex;
  flex-direction: column;
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: var(--spacing-4);
}
.itemListContainer h2{
  padding: var(--spacing-4);
  margin: 48px 0;
}
.itemListContainerProducts{
  background-color: red;
  display: grid;
  grid-template-columns: repeat(auto-fill, min-max(24rem, 1fr));
  gap: var(--spacing-8);
  
}