
.itemListContainer{
  display: flex;
  flex-direction: column;
  
}
.itemListContainer .greeting{
  font-size: var(--font-3xl);
  line-height: var(--leading-none);
  font-family: var(--display);

  margin: 48px 0;
}
.itemListContainerProducts{
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-8);
  
}