.productosMostradosContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 1vmin 1.5vmin;
  place-content: center;
}
.itemListContainer{
  width: 100%;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
}
.itemListContainer h2{
  padding: 16px;
  margin: 48px 0;
}
.productosMostradosContainer{
  padding: 0 1.5vmin;
  
}