.listCategoryContainer{
  position:absolute;
  right: 0;
  
  z-index: 1;
  margin: 12rem  0 0;
  overflow: hidden; 
  transition: box-shadow 0.3s ease; 
  background-color: var(--secondary);
  
  
}
.listCategoryContainer button{
  font-size: var(--font-lg);
  line-height: 2.5rem;
  padding: var(--spacing-3);
}

.closeCategory{
  padding: var(--spacing-6);
}
.closeCategory button{
  padding: 8px 16px;
  width: 100%;
  background-color: var(--muted);
  
}
.listCategory{
  
  max-width: 300px;
  width: max-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

