.carritoContainer{
    position:absolute;
    right: 0;
    
    z-index: 1;
    margin: 12rem  0 0;
    overflow: hidden; 
    transition: box-shadow 0.3s ease; 
    background-color: var(--secondary);
    padding:  0 ;
    max-width: 350px;
    max-height: 70vh;
    overflow-y: auto;
}
.closeCarrito{
    padding: var(--spacing-6);
}
.closeCarrito button{
  padding: 8px 16px;
  width: 100%;
  background-color: var(--muted);
}
.listProductsCarrito{
   padding: var(--spacing-4);
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: var(--spacing-2);
}
.productCarrito{
    display: flex;
    column-gap: var(--spacing-4);
    justify-content: start!important;

}
.productCarrito > img{
    border-radius: var(--rounded-full);
    object-fit: cover;
}
.productCarritoInformation > p{
    font-size: var(--font-xs);
    line-height: var(--leading-4);

}
.productCarritoInformation button{
    padding: var(--space-unit);
    font-size: var(--font-lg);
    margin-inline: var(--spacing-4);
}
.ma{
    margin-inline: auto;
    display: block;
}
.order__items{
    max-height: 20rem;
    margin-block: var(--spacing-6);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
    border: 2px solid var(--success);
    padding: var(--spacing-4);
    border-radius: var(--rounded-md);
    background-color: var(--success-border);
    color: var(--success-foreground);
}





.generateOrder{
    display: flex;
    background-color: var(--secondary-hover);
    padding: var(--spacing-2);
    border-radius: var(--rounded-md);
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: var(--spacing-6);
    align-items: center;
    position: sticky;
    bottom: 0;

}
.generateOrder p{
    font-size: var(--font-lg);
    font-weight: 500;

}
.generateOrder button{

}