.headerPrincipal{
  display: flex;
  position: fixed;
  width: 100%;
  margin-top: 0;
  z-index: 1;
  padding: 0 32px;
  column-gap: 1vmin;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--colorSecundario2);
}
.headerPrincipal .tituloPrincipal{
  color:var(--colorSubtitulos);
  display: flex;
}
.logoPrincipal{
  max-width: 48px;
}